@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

:root {
  --hotpink:#fc70a9;
  --pink:#ffcdc6;
  --red:#f55d32;
  --lightpink:#ffe9de;
}

.font-my {

}
